<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Asmita Raj</title>

    <!-- CSS  -->
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body id="top" class="scrollspy">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">Asmita Raj</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#work">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="asmita_raj.pdf" target="_blank">Resume</li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#work">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="asmita_raj.pdf" target="_blank">Resume</li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->

<div class="section no-pad-bot" id="index-banner">
    
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>I Love</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">creating</b>
                <b>designing</b>
                <b>developing</b>
            </span>
        </h1>
    </div>
</div>


<!--Intro and service-->
<div id="about" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> I am Asmita, a<span class="span_h2">  UI Designer  </span>& a<span class="span_h2">   Django Fullstack Developer.</span> </h2>
            </div>
            <div id="skills">
                <div  class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="material-icons">check_box</i>
                    <h5 class="promo-caption">FRONTEND</h5>
                    <p class="light center">HTML, CSS, Bootstrap, Materialize.css</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="material-icons">check_box</i>
                    <h5 class="promo-caption">JAVASCRIPT</h5>
                    <p class="light center">Javascript, Jquery, Angular, Particles.js</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="material-icons">check_box</i>
                    <h5 class="promo-caption">BACKEND</h5>
                    <p class="light center">Django, MySQL, MongoDB</p>
                </div>
            </div>
            <div class="col s12 m3 l3">
                <div class="center promo promo-example">
                    <i class="material-icons">check_box</i>
                    <h5 class="promo-caption">OTHER</h5>
                    <p class="light center">Photoshop, Git, Heroku</p>
                </div>
            </div>
            </div>
            
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Work </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/project1.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">A Django powered Blog<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="https://github.com/WonderboyWonderboyv/Blog">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Django powered Blog <i class="mdi-navigation-close right"></i></span>
                        <p>A modern blog created using django and django rest framework with features using of user registration and authentication, posting of blogs and adding comments by the authenticated users.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/project2.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">To-do-list WebApp<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="https://github.com/WonderboyWonderboyv/todo-list-web-app">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">To-do-list WebApp<i class="mdi-navigation-close right"></i></span>
                        <p>A web app made by django rest framework and angular.
                        It lists out the to-dos to be done, adding of another to-do and removal of the to-do item when it gets done.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/project3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">A URL shortner <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="https://github.com/WonderboyWonderboyv/url-shortener">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">URL shortner <i class="mdi-navigation-close right"></i></span>
                        <p>A URL shortener made using django framework, bootstrap, HTML5 and CSS.
                        It shortens the given URL and the shortened URL redirects to the original URL. It also contains an analytical count of the number of times a particular URL is used.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/project4.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Wallet-Expense Manager<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="https://github.com/WonderboyWonderboyv/wallet">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Wallet-Expense Manager<i class="mdi-navigation-close right"></i></span>
                        <p>Wallet is a Angular powered personal expense tracker using the web framework of django.Django-rest-framework is used for building RESTful APIs.Data storage in MySql database.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/project5.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Movie Info <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Movie Info <i class="mdi-navigation-close right"></i></span>
                        <p>Using ES6 for searching movie information along with Html, Css and custom Boostrap</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div id="particles-js">
    <div class="parallax"><img src="img/parallax4.jpg"></div>
</div>
    </div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Say Hi!</h2>
        <div class="row">
            <div class="col s12">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="img/me.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Me <br/>
                            </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/asmita.raj.376" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://github.com/WonderboyWonderboyv" target="_blank">
                                <i class="small fa fa-github-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/asmita-raj-434a27122/" target="_blank">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" id="myform">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="name" name="name" type="text" class="validate white-text" required>
                            <label for="icon_prefix" class="white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="user_email" name="email" type="email" class="validate white-text" required>
                            <label for="icon_email" class="white-text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea name="message" class="materialize-textarea white-text" id="textarea1" required></textarea>
                            <label for="icon_prefix2" class="white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit" id="send_email">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">letmebe.asmita@gmail.com</h5>
            </div>
            
                <div class="col l3 s12">
                    <div id="social">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/asmita.raj.376" target="_blank">
                            <i class="small fa fa-facebook-square white-text"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://github.com/WonderboyWonderboyv" target="_blank">
                            <i class="small fa fa-github-square white-text"></i> Github
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.linkedin.com/in/asmita-raj-434a27122/" target="_blank">
                            <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                        </a>
                    </li>
                </ul>
            </div>
            </div>
            
        </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            (c)2018, <a class="white-text" href="http://joashpereira.com">All Rights Reserved</a>.
        </div>
    </div>
</footer>



    <!--  Scripts-->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', 'particles.json', function(){
      console.log('particles.json loaded...');
    });
  </script>
  <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>

    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script> 
    <script>
        $(document).ready(function () {
            var user, to, subject, text;
            $("#send_email").click(function (e) {
                e.preventDefault();
                

                to = "send2asmitaraj@gmail.com";
                name = $("#name").val();
                user = $("#user_email").val();
                text = $("#textarea1").val();
                $.get("https://asmitaraj.herokuapp.com/send", {
                    to: to,
                    name: name,
                    user: user,
                    text: text
                }, function (data) {
                    if (data == "sent") {
                        console.log("Email sent");
                    }
                    window.alert("Thank you!Your email has been sent. I'll get back to you shortly.");
                });
            });
        });
    </script>
    </body>
</html>
